
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.container {margin-top: 5px;
    width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

.list {
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.input-button {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.input-button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
    
    
}

li {
    background: #f8f9fa;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

li span {
    flex: 1;
    text-align: left;
    font-size: 16px;
    justify-content: space-between;
}

button {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
    flex: auto;
}

.edit-btn {
    background: #ffc107;
    color: white;
    margin: 4px;
}

.edit-btn:hover {
    background: #e0a800;
}

.complete-btn {
    background: #17a2b8;
    color: white;
    margin: 4px;
}

.complete-btn:hover {
    background: #138496;
}


.delete-btn {
    background: #dc3545;
    color: white;
    margin: 4px;
}

.delete-btn:hover {
    background: #c82333;
}

.completed {
    text-decoration: line-through;
    color: gray;
    background: #e9ecef;
}
